@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

:root {
  --bd:1px solid red;
  --font: 'Noto Sans TC';
  --font-color:  rgb(237, 239, 253);
  --active-color: rgb(139, 145, 188);
  --box-shadow: 0 2rem 3rem rgba(85, 84, 84, 0.208);
  --backgroun-color: rgb(0, 0, 0);
  --aside-background-color: rgb(32, 37, 40);
}

div.modal#calendarweekclickevent {
  color: var(--font-color);
  width: 70%;
  margin: auto;
  padding: 1rem;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: var(--font);
  text-decoration: none;
}

div.App {
  height: 100vh;
  display: flex;
  background-color: var(--backgroun-color);
  transition: all 0.1s ease;
}

div.top-bar {
  display: none;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
/*------------------*/
  margin: 1.5rem;
  margin-right: 0rem;

  background-color: var(--aside-background-color);
  width: 9rem;
  padding: 2rem;
  padding-left: 0rem;
  padding-right: 0rem;
  /*------------------*/
  border-radius: 0.6rem;
  color: var(--font-color);
  box-shadow: var(--box-shadow);
  flex-shrink: 0;
  transition: all 0.1s ease;
}

aside > div > span > h2 > img  {
  height: 1.3rem;
  margin-right: 0.37rem;
  transform: translateY(0.1rem);
}

aside > div > span > h2 > button {
  display: none;
}

.defaultbutton {
  box-sizing: border-box;
  border: none;
  padding: 0.35rem;
  margin-top: 0.3rem;
}

h2.fill {
  text-align: center;
  margin: 2rem;
  
}

span.navbutton {
  display: flex;
  padding: 1rem 0rem 1rem 1.3rem;
  align-items: center;
  margin-top: 0.6rem;
  color: var(--font-color);
  height: 3rem;
  transition: all 0.2s ease;
}

span.navbutton:hover {
  padding-left: 1.7rem;
  color: var(--active-color);
  transition: all 0.2s ease;
}

a.active > span.navbutton {
  padding-left: 1.7rem;
  color: var(--active-color);
  transition: all 0.2s ease;
  border-left: 0.3rem solid var(--active-color);
}

span.navbutton:active {
  background-color: var(--backgroun-color);
}

span.navbutton:active::after {
  background-color: var(--backgroun-color);
}


span.navbutton > a {
  margin-left: 0.3rem;
  padding-bottom: 0.1rem;
}




div.top {
  /*----------------*/
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem;
  /*----------------*/
  display: flex;
  justify-content: space-between;
  /*----------------*/
}

main {
  margin: 1.5rem;
  
  width: 100vw;
  overflow-y: scroll;
  border-radius: 0.6rem;

  background-color: var(--aside-background-color);
  color: var(--font-color);
  padding: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 0rem;
  box-shadow: var(--box-shadow);
  transition: all 0.1s ease;
}



div.content {
  height: 100%;
}

div.content > div {
  animation: fadeIn 0.3s;
  animation-timing-function: cubic-bezier(.03,.69,.33,.93);
}




@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* new event */

div.newEvent {
  display: flex;
  height: 100%;
}

div.newEvent-left {
  text-align: left;
  margin-right: 1.5rem;
  height: 100%;
  flex-shrink: 0;
}

div.newEvent-left > div.inputsection > * {
  margin: 0.2rem 0rem 0.2rem 0rem;
  width: 100%;
}



div.newEvent > div.item-list {
  overflow-y: scroll;
}



/* calendar */

div.cal-nav {
  display: flex;
  justify-content: space-between;
  height: 9vh;
}

div.cal-nav > h1 {
  color: var(--font-color);
}

div.cal-nav > select{
  border: none;
  border-radius: 0.1rem;
  text-align: center;
  background-color: var(--aside-background-color);
  color: var(--font-color);
  cursor: pointer;
}

div.calview {
  overflow-y: scroll;
}

select#changecalendarviewtype {
  height: 2rem;
}

/* Month */

input.changemonth {
  width: 6rem;
  text-align: center;
  margin-bottom: 0.3rem;
  height: 1.5rem;
  border: none;
  background-color: var(--aside-background-color);
  color: var(--font-color);
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

button.changemonth {
  height: 1.5rem;
  border: none;
  margin: 0.5rem;
  margin-bottom: 0rem;
  margin-top: 0.1rem;
  background-color: var(--aside-background-color);
  color: var(--font-color);
  cursor: pointer;
}

div.monthcontainer > div.caltop {
  display: flex;
  justify-content: center;
  margin-bottom: 0.1rem;
}

div.calshowweek {
  padding-bottom: 0.3rem;
  text-align: center;
  display: grid;
  grid-template-columns: calc(100%/7) calc(100%/7) calc(100%/7) calc(100%/7) calc(100%/7) calc(100%/7) calc(100%/7);
  
}

div.monthdisplay {
  display: grid;
  grid-template-columns: calc(100%/7) calc(100%/7) calc(100%/7) calc(100%/7) calc(100%/7) calc(100%/7) calc(100%/7);
  box-sizing: border-box;
} 

div.cellcontainer {
  height: 11vh;
  box-sizing: border-box;
  overflow-y: scroll;
  scrollbar-width: none;
}

div.cellcontainer::-webkit-scrollbar {
  display: none;
}

p.celldate {
  font-size: x-small;
  padding: 0px;
  margin: auto;
  text-align: center;
}

div.calendarmonthcolorbar {
  height: 0.25rem;
  margin: 0.2rem;
  border-radius: 10%;
}

/* week */ 

div.weekdisplay {
  text-align: center;
  display: grid;
  grid-template-columns: calc(100%/7) calc(100%/7) calc(100%/7) calc(100%/7) calc(100%/7) calc(100%/7) calc(100%/7);
}

div.weekcontainer > div.caltop {
  display: flex;
  justify-content: center;
  margin-bottom: 0.1rem;
  height: 1.7rem;

}

input.changeweek {
  width: 9rem;
  text-align: center;
  margin-bottom: 0.3rem;
  height: 1.5rem;
  border: none;
  background-color: var(--aside-background-color);
  color: var(--font-color);
}

button.changeweek {
  height: 1.5rem;
  border: none;
  margin: 0.5rem;
  margin-top: 0.1rem;
  background-color: var(--aside-background-color);
  color: var(--font-color);
  cursor: pointer;
}

div.calweekcontainer {
  
  
}

div.weekdisplay {
  
  margin-bottom: 1rem;;
  
  overflow-y: scroll;
}

/* day */

div.selectDate {
  display: flex;
  justify-content: center;
  
}

button.changedate {
  height: 1.5rem;
  border: none;
  margin: 0.5rem;
  margin-top: 0.1rem;
  background-color: var(--aside-background-color);
  color: var(--font-color);
  cursor: pointer;
}

input.changedate {
  width: 9rem;
  text-align: center;
  margin-bottom: 0.3rem;
  height: 1.5rem;
  border: none;
  background-color: var(--aside-background-color);
  color: var(--font-color);
}

div.selectDate.toggleDarkModeActive {

}

/* date > item */

div.item {
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
}

div.item > a {
  flex-shrink: 1;
  overflow: hidden;
}

button.delete {
  border: 2px solid white;
  border-radius: 5px;
  background-color: white;
  color: #2D4356;
  width: 50px;
  height: 30px;
  padding: 3px;
  margin: auto;
  margin-right: 0;
  font-family: var(--font);
  align-items: center;
  flex-shrink: 0;
}

button.delete:hover {
  background-color: rgb(219, 218, 218);
  border-color: rgb(219, 218, 218);
}

/* Group */

div.changecolor {
  display: flex;
  padding-top: 1rem;
}

div.changecolor > * {
  width: 18rem;
  margin-right: 0.5rem;
  justify-content: center;
  box-sizing: border-box;
}

div.changecolor > input {
  margin-top: 0.1rem;
  width: 2rem;
  border: 0.05rem solid black;
  box-sizing: border-box;
}

div.groupcellcontainer {
  padding-top: 1.5rem;
  margin-left: -0.2rem;
  transition: all 0.2s ease;
  justify-content: center;
}

div.groupcell {
  display: inline-block;
  width: max-content;
  margin: 0.2rem;
  box-sizing: border-box;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.5rem;
  padding-top: 0.7rem;
  margin-top: 1rem;
  transition: all 0.55s ease;
}

div.groupcell:hover {
  font-size: x-large;
  transition: all 0.15s ease;
  padding: 0.8rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

div.groupcell > a {
  margin: 0.0rem;
}

div.groupcell > button {
  margin: 0.3rem;
  margin-top: 0.6rem;;
}

div.groupPagecontainer  {
  
}

div.groupPagecontainer > div#top {
  width: 100%;
  display: flex;
  align-items: center;
}

div.groupPagecontainer > div#top > input#groupname {
  border: none;
  font-size: xx-large;
  font-weight: bold;
  flex-grow: 1;
  flex-shrink: 1;
  width: 1rem;
  color: var(--font-color);
  background-color: var(--aside-background-color);
}

div.groupPagecontainer > div#top > input#groupcolor {
  width: 2rem;
  border: none;
  padding: 0.1rem;
  margin-right: 0.5rem;
  margin-top: 0.3rem;
  flex-shrink: 0;
}

div.groupPagecontainer > div  {
  margin-bottom: 0.5rem;
}

div.groupitemcontainer {
  margin-top: 1rem;
  display: flex;
  color: black;
}

div.groupitemcontainer > div.groupitem {
  margin-right: 1rem;
}

/* Event Page */

div.fullheight {
  height: 100%;
}

div.eventpagecontainer {
  height: 100%;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  
}

div.eventpagecontainer > * {
  margin: 0.3rem;
  margin-left: 0rem;
}

div.eventpagecontainer >  input.title {
  width: 100%;
  border: none;
  font-size: xx-large;
  font-weight: bold;
  color: var(--font-color);
  background-color: var(--aside-background-color);
}

div#forthline {
  align-items: center;
  display: flex;  
  width: 100%;
  color: var(--font-color);
}

div#forthline > input.date {
  border: none;
  font-weight: bold;
  color: black;
  font-size: medium;
  margin-right: 0.5rem;
  flex-shrink: 0;
  color: var(--font-color);
  background-color: var(--aside-background-color);
}

div#forthline:nth-child(2) {
  flex-grow: 1;
  flex-shrink: 1;
} 

div#forthline:nth-child(2)  {
  transform: translateY(1rem);
}

div#forthline >  a > input.group {
  border: none;
  font-weight: bold;
  color: var(--font-color);
  background-color: var(--aside-background-color);
  font-size: medium;
  width: 100%;
  margin-left: 0.3rem;
}

div.forthline:last-child {
  flex-grow: 1;
}

div.eventpagecontainer > div#forthline > a > * {
  
  font-size: medium;
}

div#note {
  width: 100%;
  flex-grow: 1;
}

div#note > textarea.note {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  color: var(--font-color);
  background-color: var(--aside-background-color);
}

div.groupitem > a {
  color: var(--font-color);
  background-color: var(--aside-background-color);
}

/* Data page */

div.importcontainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

div.importcontainer > div {
  width: 12rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
}

/* setting */ 

button.toggledarkmode {
  transition: all 0.1s ease;
  width: 2rem;
  height: 2rem;
  z-index: 10;
  border: none;
  margin: 0;
}

button.toggledarkmode#left {
  background-color: var(--active-color);
  color: white;
}

button.toggledarkmode#left.toggleDarkModeActive {
  background-color: rgb(63, 62, 62);
  cursor: pointer;
}

button.toggledarkmode#right {
  background-color: var(--backgroun-color);
  cursor: pointer;
}

button.toggledarkmode#right.toggleDarkModeActive {
  background-color: var(--active-color);
  color: white;
}

@media (max-width: 980px) {
  aside > div > a > span > a {
    display: none;
  }
  aside > a > span > a {
    display: none;
  }
  aside {
    width: 3.4rem;
  }
  aside > div > span > h2 > img {
    transform: translateX(-0.85rem);
  }
  aside > div > span > h2 > a {
    display: none;
  }
  div.newEvent-left {
    width: 20rem;
    flex-shrink: 0;
  }
}

@media (max-width: 750px) {
  div.newEvent {
    display: block;
  }
  div.newEvent-left {
    height: auto;
  }
  div.newEvent-left  {
    width: 100%;
  }
}

@media (max-width: 560px) {
  
  div.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  div.top-bar {
    display: block;
    height: 2.1rem;
    flex-shrink: 0;
    flex-grow: 0;
    color: var(--font-color);
    transition: all 0.1s ease;
  }

  div.top-bar.toggleDarkModeActive {
    background-color: var(--backgroun-color);
    color: var(--font-color);
  }

  div.top-bar.toggleDarkModeActive > button {
    background-color: var(--backgroun-color);
    color: var(--font-color);
  }

  div.top-bar > button {
    transform: translateY(0.15rem);
    transition: all 0.1s ease;
  }

  main {
    height: 10rem;
    flex-wrap: 1;
    flex-grow: 1;
  }

  aside {
    position: absolute;
    top: 0rem;
    z-index: 10;
    left: -10rem;
    transition: all 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  /*------------------*/
    margin: 0rem;
    border: none;
    border-radius: 0;;
    width: 9rem;
    padding: 2rem;
    padding-left: 0rem;
    padding-right: 0rem;
    /*------------------*/
    color: var(--font-color);
    box-shadow: var(--box-shadow);
    flex-shrink: 0;
    height: 100vh;
    transition: all 0.15s ease;
  }
  aside.activated {
    left: 0rem;
    transition: all 0.3s ease;
  }
  aside > div > a > span > a {
    display: block;
  }
  aside > a > span > a {
    display: block;
  }
  aside > div > span {
    padding: 0;
  }
  aside > div > span > h2 {
    display: flex;
    transform: translate(-0.7rem,-3rem);
    justify-content: left;
  }
  aside > div > span > h2 > a {
    display: block;
  }
  aside > div > span > h2 > img {
    transform: translateY(0.55rem);
  }
  aside > div > span > h2 > button {
    display: block;
    border: none;
    background-color: var(--aside-background-color);
    color: var(--font-color);
    font-size: large;
    margin-left: 2rem;
    margin-top: 0.25rem;
  }
  aside > div > span > h2 > button:hover {
    cursor: pointer;
  }
  div.top-bar {
    width: 100%;
    background-color: var(--backgroun-color);
    text-align: center;
    padding: 0.2rem;
    font-size: larger;
    font-weight: bold;
  }
  div.top-bar > button {
    position: absolute;
    left: 0.3rem;
    border: none;
    background-color: var(--backgroun-color);
    font-size: large;

  }
  main {
    width: auto;
    box-sizing: border-box;
    margin: 0.5rem;
    padding-bottom: 1.5rem;
  }
}

@media (max-height: 610px) {
  aside {
    padding-top: 0;
    overflow-y: scroll;
    padding-bottom: 0;
  }
  aside > div {
    margin: 0;
    height: auto;
    padding-bottom: 0;
    padding-top: 0;
  }
  
  aside > div > span > h2 {
    padding: 0;
  }



  aside > div > span > h2 > img{
    margin: 0;
  } 

  
  span.navbutton{
    margin-top: 0;
    margin-bottom: 0;
  }

  span.filltop {
    display: flex;
    align-items: center;
    margin-top: 0.6rem;
    color: var(--font-color);
    height: 3rem;
    transition: all 0.2s ease;
    transform: translateX(-0.01rem);
  }
  span.filltop > h2 > img  {
    height: 1.3rem;
  }
  h2.fill {
    text-align: left;
    margin: 2rem;
    
  }
  span.filltop > h2 > a {
    margin-left: 0.5rem;
  }

  
}

@media (max-height: 610px ) and (max-width: 560px) {
  span.filltop {
    margin-bottom: 0;
    padding-bottom: 0;
    transform: translateY(3rem);
  }
}